@font-face {
  font-family: 'Nanum Barun Pen';
  font-weight: 400;
  src: local(NanumBarunpen), url(fs.barunpen.r.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Barun Pen';
  font-weight: 700;
  src: local(NanumBarunpen-Bold), url(fs.barunpen.b.woff) format('woff');
}