@font-face {
  font-family: 'Nanum Gothic Coding';
  font-weight: 400;
  src: url('ft.coding.r.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-weight: 700;
  src: url('ft.coding.b.woff') format('woff');
}