@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 200;
  src: local('NanumBarunGothic UltraLight'), local('NanumBarunGothicUltraLight'), local('NanumBarunGothic'), local('나눔바른고딕 UltraLight'), local('나눔바른고딕'), url('fo.barungothic.ul.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 300;
  src: local('NanumBarunGothic Light'), local('NanumBarunGothicLight'), local('NanumBarunGothic'), local('나눔바른고딕 Light'), local('나눔바른고딕'), url('fo.barungothic.l.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 400;
  src: local('NanumBarunGothic'), local('나눔바른고딕'), url('fo.barungothic.r.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 700;
  src: local('NanumBarunGothic Bold'), local('NanumBarunGothicBold'), local('NanumBarunGothic'), local('나눔바른고딕 Bold'), local('나눔바른고딕'), url('fo.barungothic.b.woff') format('woff');
}