@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 400;
  src: local('NanumMyeongjo'), local('나눔명조'), url('fo.myeongjo.r.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 700;
  src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'), local('NanumMyeongjo'), local('나눔명조 Bold'), local('나눔명조'), url('fo.myeongjo.b.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 900;
  src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'), local('NanumMyeongjo'), local('나눔명조 ExtraBold'), local('나눔명조'), url('fo.myeongjo.eb.woff') format('woff');
}