@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 400;
  src: local(NanumMyeongjo), url(fo.myeongjo.r.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 700;
  src: local(NanumMyeongjoBold), url(fo.myeongjo.b.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 900;
  src: local(NanumMyeongjoExtraBold), url(fo.myeongjo.eb.woff) format('woff');
}