@font-face {
  font-family: 'Nanum Square';
  font-weight: 300;
  src: local(NanumSquareL), url(fs.square.l.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 400;
  src: local(NanumSquareR), url(fs.square.r.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 700;
  src: local(NanumSquareB), url(fs.square.b.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 900;
  src: local(NanumSquareEB), url(fs.square.eb.woff) format('woff');
}