@font-face {
  font-family: 'Nanum Square';
  font-weight: 300;
  src: local('NanumSquareL'), local('³ª´®½ºÄù¾î Light'), url('fs.square.l.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 400;
  src: local('NanumSquareR'), local('³ª´®½ºÄù¾î Regular'), url('fs.square.r.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 700;
  src: local('NanumSquareB'), local('³ª´®½ºÄù¾î Bold'), url('fs.square.b.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Square';
  font-weight: 900;
  src: local('NanumSquareEB'), local('³ª´®½ºÄù¾î ExtraBold'), url('fs.square.eb.woff') format('woff');
}