@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 400;
  src: local('NanumMyeongjo'), local('³ª´®¸íÁ¶'), url('fo.myeongjo.r.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 700;
  src: local('NanumMyeongjoBold'), local('³ª´®¸íÁ¶ Bold'), url('fo.myeongjo.b.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 900;
  src: local('NanumMyeongjoExtraBold'), local('³ª´®¸íÁ¶ ExtraBold'), url('fo.myeongjo.eb.woff') format('woff');
}