@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 200;
  src: local(NanumBarunGothicUltraLight), url(fo.barungothic.ul.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 300;
  src: local(NanumBarunGothicLight), url(fo.barungothic.l.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 400;
  src: local(NanumBarunGothic), url(fo.barungothic.r.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-weight: 700;
  src: local(NanumBarunGothicBold), url(fo.barungothic.b.woff) format('woff');
}